In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
%matplotlib inline

Loading data

In [8]:
df = pd.read_csv(/customervisit.csv")
df

   customers    product
0        18.0     Mpesa
1        11.0       COO
2         2.0     Bonga
3         1.0     Fraud
4         3.0    Fuliza
5         6.0  Sim Card
6         NaN       LMM

In [ ]:
Preprocessing data

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customers   6 non-null      float64
 1   product     7 non-null      object
dtypes: float64(1), object(1)
memory usage: 240.0+ bytes

In [10]:
df.describe()

       customers
count    6.000000
mean     6.833333
std      6.554896
min      1.000000
25%      2.250000
50%      4.500000
75%      9.750000
max     18.000000

In [11]:
df

   customers    product
0        18.0     Mpesa
1        11.0       COO
2         2.0     Bonga
3         1.0     Fraud
4         3.0    Fuliza
5         6.0  Sim Card
6         NaN       LMM

In [29]:
df.drop([6])

   customers    product
0        18.0     Mpesa
1        11.0       COO
2         2.0     Bonga
3         1.0     Fraud
4         3.0    Fuliza
5         6.0  Sim Card

In [31]:
df = df.drop([6])

In [35]:
df

   customers    product
0        18.0     Mpesa
1        11.0       COO
2         2.0     Bonga
3         1.0     Fraud
4         3.0    Fuliza
5         6.0  Sim Card

In [37]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [39]:
dfle = df
le.fit_transform(dfle.product)

ValueError: y should be a 1d array, got an array of shape () instead.

In [40]:
merged = pd.concat([df,dummies],axis="columns")
merged

NameError: name 'dummies' is not defined

In [41]:
import pickle

In [43]:
df

   customers    product
0        18.0     Mpesa
1        11.0       COO
2         2.0     Bonga
3         1.0     Fraud
4         3.0    Fuliza
5         6.0  Sim Card